*~
\#*
.\#*
.DS_Store
compiled/
/doc/
BuildUnreal/
Unreal/Rocks/Plugins/Rocks/Content/HugeRocksPack
Unreal/*/Content
Unreal/*/Binaries
Unreal/*/Build
Unreal/*/DerivedDataCache
Unreal/*/Intermediate
Unreal/*/Saved
*.bak
BuildUnreal.zip
Unreal.zip
out/
*.swp
